name: PHP Lint and Unit Test

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    container:
      image: php:7.4-alpine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Lint Checks
        uses: ./.github/actions/lint

  test:
    name: Unit Test
    runs-on: ubuntu-latest

    container:
      image: php:7.4-alpine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Tests
        uses: ./.github/actions/test
